/* 一级菜单居中 */
#nav .menus_items {
    /* display: inline; 这个带不带都可以，本来就是inline */
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

/*GitHub开源圆角*/
#card-info-btn {
    border-radius: 7px;
    overflow: hidden;
}

/* 文章目录 */
#aside-content #card-toc .toc-content {
    margin: 10px -18px;
}
#aside-content #card-toc .toc-content .toc-link.active {
    line-height: 1.2;
    border-radius: 12px;
    border-left-color: var(--heo-hovertext);
    background-color: var(--heo-card-bg);
    color: var(--heo-lighttext);
    font-weight: bold;
    font-size: 20px;
}
[data-theme=dark].toc .toc-item.active .toc-link .toc-text {
    color: var(--heo-white);
}
#aside-content #card-toc .toc-content .toc-item.active .toc-link {
    opacity: 1;
    border-radius: 8px;
}
#aside-content #card-toc .toc-content .toc-link {
    line-height: 1.2;
    padding: 8px;
    border-left: 0px solid transparent;
    border-radius: 12px;
    color: var(--heo-secondtext);
    cursor: default;
}
#aside-content #card-toc .toc-content .toc-link:not(.active) span {
    opacity: 0.6;
    cursor: pointer;
    filter: blur(1px);
    transition: 0.3s;
}
#aside-content #card-toc:hover .toc-content .toc-link:not(.active) span {
    filter: blur(0px);
    opacity: 1;
}
#aside-content #card-toc .toc-content .toc-link:not(.active) span:hover {
    color: var(--heo-lighttext);
}

/* 文章目录 */
#aside-content #card-toc .toc-content {
    margin: 10px -18px;
}
#aside-content #card-toc .toc-content .toc-link.active {
    line-height: 1.2;
    border-radius: 12px;
    border-left-color: var(--heo-hovertext);
    background-color: var(--heo-card-bg);
    color: var(--heo-lighttext);
    font-weight: bold;
    font-size: 20px;
}
[data-theme=dark].toc .toc-item.active .toc-link .toc-text {
    color: var(--heo-white);
}
#aside-content #card-toc .toc-content .toc-item.active .toc-link {
    opacity: 1;
    border-radius: 8px;
}
#aside-content #card-toc .toc-content .toc-link {
    line-height: 1.2;
    padding: 8px;
    border-left: 0px solid transparent;
    border-radius: 12px;
    color: var(--heo-secondtext);
    cursor: default;
}
#aside-content #card-toc .toc-content .toc-link:not(.active) span {
    opacity: 0.6;
    cursor: pointer;
    filter: blur(1px);
    transition: 0.3s;
}
#aside-content #card-toc:hover .toc-content .toc-link:not(.active) span {
    filter: blur(0px);
    opacity: 1;
}
#aside-content #card-toc .toc-content .toc-link:not(.active) span:hover {
    color: var(--heo-lighttext);
}

/*文章相关推荐卡片美化*/
.relatedPosts > .relatedPosts-list > div {
    border-radius: 20px;
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.4) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.4) 50%,
            rgba(255, 255, 255, 0.4) 75%,
            transparent 75%,
            transparent
    );
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #49b1f5;
}

/* 首页文章栏背景透明 */
#page,
#archive,
#post,
#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    /*background: var(--light_bg_color)*/
    opacity: 0.9;
}

/* 侧边栏透明 */
#aside-content .card-widget {
    /*background: var(--light_bg_color)*/
    opacity: 0.9;
}

/* 主页顶部图 */
#page-header:not(.not-top-img):before {
    background: rgba(0,0,0,0);
}

/* 主页顶部导航栏文字 */

#site-name,
.site-page {
    color: lightpink !important;
}

/* 主页顶部博客名字 */
#site-title {
    color: black !important;
}

/* 主页展示语 */
#site-subtitle {
    color: deepskyblue !important;
}

/* 页脚透明 */
#footer{
    background: transparent !important;
}

/* 文章页面标题变色 */
.post-title {
    color: black !important;
    font-weight: bold !important;
}

/* 文章页面信息变色 */
.meta-firstline,
.post-meta-categories {
    color: pink !important;
    font-size: medium;
}

/*!* 文章界面顶部图片颜色 *!*/
/*#page-header.post-bg:before {*/
/*    background: rgba(0, 0, 0, 0.05) !important;*/
/*}*/

/* 友链 */
.flink-list-item {
    border-radius: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}

/* 鼠标移入友链背景 */
#article-container .flink .flink-list > .flink-list-item:before {
    background-color: pink !important;
    border-radius: 10px !important;
}

/* 小火箭 */
hr:before {
    color: pink !important;
}

/* 单选文章切换(没有上/下篇文章) */
.pull-full > a {
    border-radius: 10px !important;
    background:black !important;
}

/* 上下切换文章 */
#pagination {
    border-radius: 20px;
}

/* 上切换文章 */
.pull-left > a {
    /* border-radius: 10px !important; */
    background:black !important;
    /* box-sizing: border-box !important;
    border: 3px solid deepskyblue !important; */
}

/* 下切换文章 */
.pull-right > a {
    /* border-radius: 10px !important; */
    background:black !important;
    /* box-sizing: border-box !important;
    border: 3px solid pink !important; */
}

/* 文章上切换 */
.pull-left > a > .pagination-info >.label {
    color: deepskyblue !important;
}

/* 文章下切换 */
.pull-right > a > .pagination-info >.label {
    color: pink !important;
}

/* 上切换目标文章标题 */
.pull-left > a > .pagination-info > .prev_info {
    color: deepskyblue !important;
}

/* 下切换目标文章标题 */
.pull-right > a > .pagination-info > .next_info {
    color: pink !important;
}

/* 切换上下文章背景色 */
#pagination {
    background:rgba(0, 0, 0, 0) !important;
}

/* 侧边功能(设置/评论区/回到顶部) */
#rightside_config,
#go-up,
#to_comment,
#translateLink,
#hide-aside-btn {
    transition: 0.3s;
    background: pink !important;
}

/* github/mail等图标 */
#rightside_config:hover,
#go-up:hover,
#to_comment:hover,
#translateLink:hover,
#hide-aside-btn:hover {
    background: deepskyblue !important;
}

.fa-envelope:before,
.fa-github:before {
    color: pink !important;
}

/* "关注我" */
#card-info-btn {
    background: deepskyblue !important;
    color: white !important;
}

#card-info-btn:hover {
    background: #FFFFD0 !important;
    color: pink !important;
}

/* 鼠标移动至切换标签/选页 */
.pagination > .page-number:hover,
.pagination > .extend:hover {
    background: deepskyblue !important;
}

/* 当前是第几页 */
.pagination > .current {
    background: pink !important;
}

.pagination > .current:hover {
    background: pink !important;
}


/* 打赏 */
.reward-button:hover {
    background: pink !important;
}

/* 时钟字体 */
#card-clock-time {
    color: pink !important ;
}

/* 磁贴鼠标移入图片过渡效果 */
.categoryBar-list-item {
    transition: 0.5s;
}

/* 轮播图当前页提示 */
.swiper-pagination-bullet-active {
    background: pink !important;
}

/* 分类中鼠标移入某个分类 */
.article-sort-title:hover::before,
.year:before,
.article-sort-item:hover::before,
.category-list-item:hover::before {
    border: 0.215em solid pink !important;
}

/* 分割线颜色 */
hr {
    border: 2px dashed pink !important;
}

/* 评论区提交按钮 */
.vsubmit:hover {
    background: pink !important;
}

/* 评论区跳转官网按钮不显示 */
.vrow > .vcol > a{
    display: none !important;
}

/* 评论下方"快来发表评论吧~"颜色更改 */
.vempty {
    color: pink !important;
}

/* 评论区底部Powered By Valine去掉 */
.vpower {
    display: none !important;
}

/* 文章展示页初始化 */
.recent-post-item {
    transform: translateY(100px);
}

/* 首页箭头颜色更改 */
.scroll-down-effects::before {
    color: pink;
}

/* 文章页面目录与作者信息上下间隔距离 */
#card-toc {
    margin-top: 10px !important;
}