/* 一级菜单居中 */
#nav .menus_items {
    /* display: inline; 这个带不带都可以，本来就是inline */
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

/*GitHub开源圆角*/
#card-info-btn {
    border-radius: 7px;
    overflow: hidden;
}

/* 文章目录 */
#aside-content #card-toc .toc-content {
    margin: 10px -18px;
}
#aside-content #card-toc .toc-content .toc-link.active {
    line-height: 1.2;
    border-radius: 12px;
    border-left-color: var(--heo-hovertext);
    background-color: var(--heo-card-bg);
    color: var(--heo-lighttext);
    font-weight: bold;
    font-size: 20px;
}
[data-theme=dark].toc .toc-item.active .toc-link .toc-text {
    color: var(--heo-white);
}
#aside-content #card-toc .toc-content .toc-item.active .toc-link {
    opacity: 1;
    border-radius: 8px;
}
#aside-content #card-toc .toc-content .toc-link {
    line-height: 1.2;
    padding: 8px;
    border-left: 0px solid transparent;
    border-radius: 12px;
    color: var(--heo-secondtext);
    cursor: default;
}
#aside-content #card-toc .toc-content .toc-link:not(.active) span {
    opacity: 0.6;
    cursor: pointer;
    filter: blur(1px);
    transition: 0.3s;
}
#aside-content #card-toc:hover .toc-content .toc-link:not(.active) span {
    filter: blur(0px);
    opacity: 1;
}
#aside-content #card-toc .toc-content .toc-link:not(.active) span:hover {
    color: var(--heo-lighttext);
}

/* 文章目录 */
#aside-content #card-toc .toc-content {
    margin: 10px -18px;
}
#aside-content #card-toc .toc-content .toc-link.active {
    line-height: 1.2;
    border-radius: 12px;
    border-left-color: var(--heo-hovertext);
    background-color: var(--heo-card-bg);
    color: var(--heo-lighttext);
    font-weight: bold;
    font-size: 20px;
}
[data-theme=dark].toc .toc-item.active .toc-link .toc-text {
    color: var(--heo-white);
}
#aside-content #card-toc .toc-content .toc-item.active .toc-link {
    opacity: 1;
    border-radius: 8px;
}
#aside-content #card-toc .toc-content .toc-link {
    line-height: 1.2;
    padding: 8px;
    border-left: 0px solid transparent;
    border-radius: 12px;
    color: var(--heo-secondtext);
    cursor: default;
}
#aside-content #card-toc .toc-content .toc-link:not(.active) span {
    opacity: 0.6;
    cursor: pointer;
    filter: blur(1px);
    transition: 0.3s;
}
#aside-content #card-toc:hover .toc-content .toc-link:not(.active) span {
    filter: blur(0px);
    opacity: 1;
}
#aside-content #card-toc .toc-content .toc-link:not(.active) span:hover {
    color: var(--heo-lighttext);
}

/*文章相关推荐卡片美化*/
.relatedPosts > .relatedPosts-list > div {
    border-radius: 20px;
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.4) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.4) 50%,
            rgba(255, 255, 255, 0.4) 75%,
            transparent 75%,
            transparent
    );
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #49b1f5;
}

/* 首页文章栏背景透明 */
#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    /*background: var(--light_bg_color)*/
    opacity: 0.9;
}

/* 侧边栏透明 */
#aside-content .card-widget {
    /*background: var(--light_bg_color)*/
    opacity: 0.9;
}

#page-header:not(.not-top-img):before {
    background: rgba(0,0,0,0);
}
